.reveal{
    transform: perspective(500px) rotateX(-90deg);
    opacity: 0;
    transition: all 0.7s ease;
}

.reveal.active{
    transform: perspective(500px) rotateX(0deg);
    opacity: 1;
}


.reveal1{
    position: relative;
    transform:translateX(150px);
    opacity: 0;
    transition: all 1.2s ease;
}

.reveal1.active{
    transform: translateX(0px);
    opacity: 1;
}


.reveal2{
    position: relative;
    transform:translateY(150px);
    opacity: 0;
    transition: all 1.1s ease;
}

.reveal2.active{
    transform: translateY(0px);
    opacity: 1;
}


.reveal3{
    transform: scaleX(0);
    opacity: 0;
    transform-origin: left;
    transition: all 1.5s ease;
}

.reveal3.active{
    transform: scaleX(1);
    opacity: 1;
}


@media screen  and (max-width: 520px) {
    .reveal{
        transform: perspective(500px) rotateX(-90deg);
        opacity: 0;
        transition: all 0.45s ease;
    }
}

@media screen  and (max-width: 520px) {
    .reveal4{
        transform: rotateY(-90deg);
        opacity: 0;
        transition: all 0.35s ease;
    }

    .reveal4.active{
        transform: rotateY(0deg);
        opacity: 1;
    }
}
