

#scrollToTopBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button 30px from the bottom of the page */
    right: 30px; /* Place the button 30px from the right of the page */
    z-index: 99; /* Make sure it does not overlap with other content */
    background-color: var(--princeton-orange); /* Background color */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    cursor: pointer; /* Pointer/hand icon */
    padding: 5px 8px; /* Padding for better visibility */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 12px var(--persimmon); /* Add a shadow */
}

#scrollToTopBtn img {
    width: 28px; /* Initial size of the image */
    height: 28px; /* Initial size of the image */
    transition: transform 0.3s; /* Smooth transition for hover effect */
}
#scrollToTopBtn:hover img {
    transform: scale(1.1); /* Slightly enlarge the image on hover */
}
#scrollToTopBtn:hover {
    background-color: var(--persimmon); /* Darker background on hover */
}

#scrollToTopBtn::after {
    content: "Scroll to top"; /* Text shown on hover */
    display: none;
    position: absolute;
    bottom: 100%; /* Position it above the button */
    left: 50%; /* Center the text horizontally */
    transform: translateX(-50%);
    background-color: var(--princeton-orange);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
}

#scrollToTopBtn:hover::after {
    display: block;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    #scrollToTopBtn img {
        width: 24px; /* Slightly smaller image for tablets */
        height: 24px;
    }
}

@media screen and (max-width: 480px) {
    #scrollToTopBtn img {
        width: 2px; /* Smaller image for phones */
        height: 2px;
    }
}
