
html{
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;  
    
}

.wrapper {
    padding-bottom: 150px; /* Height of the footer */
}



body {
    font-family: 'Pixel Font';
    background-color: #e7e1e1;
    margin: 0;
    padding: 0;
    min-height: 100%;
    color: rgb(67, 1, 1);
    
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0px;
}

/* Section Styling */
section {
    margin: 27px 0;
    padding: 20px;
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 82%;
}
h1{
 color: black;
 /* border-bottom: solid 5px black;
 padding-bottom: 10px; */
}
section h2 {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Pixeloid Bold';
}

section p {
    font-size: 1.1em;
    line-height: 1.6;
}
section ul li{
    list-style: circle;
}

section p, section ul{
    font-family: 'Pixeloid';
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    header h1, section h2 {
        font-size: 1.5em;
    }

    section p {
        font-size: 1em;
    }
}



