/* 
.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
  

    height: auto;
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 246px);
    grid-template-rows: repeat(auto-fill, 224px);
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    justify-content: space-between;
    
}

.features{
    background-color: aquamarine;
    animation: fadeIn 1.5s ease-out;
    padding-top: 40px;
    
}




@media screen and (max-width: 627px) {

    .feature-list{
        justify-content: space-around;
    }
    }
    
@media screen and (max-width: 450px) {

    .feature-list{
        grid-template-columns: repeat(auto-fill, 100%);
    }
    }
    



 @media screen and (max-width: 627px) {

.feature-list{
    justify-content: space-around;
}
}

    


.feature {
    position: relative;
    flex: 1 1 calc(20% - 20px);
    margin: 13px;
    background-color: #C6B38E;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s ease, filter 0.3s ease;
    overflow: hidden;
    height: 225px;
    width: 225px;
    
   

   
}



.feature:hover {
    transform: scale(1.05);
}

.feature:hover .visit-btn {
    opacity: 1;
    visibility: visible;
}

.feature::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.feature:hover::before {
    opacity: 1;
}

.inside-feature-list{
    background-color: #8d65d3;
    border-radius: 10px;
    padding: 5px;
    color: #fff;
}

.feature a:hover{
    color: green;
}



.feature-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.feature h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.feature p {
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.visit-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #3D0814;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0;
    visibility: hidden;
    
}

.visit-btn:hover {
    opacity: 0.8;
} */



.feature-section-whole{
    background-color: #02e901;
    padding-top: 20px;
}





.main-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    margin-top: 0px;
    padding-left: 125px;
    padding-right: 125px;
    box-sizing: border-box;
   
}

.secoundary-container {
    height: 30px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 5px solid #A4161A; /* Updated */
    
    font-size: 17px;
    color: #0B090A; /* Updated */
    font-weight: 500;
}

.site-list {
    height: auto;
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 286px);
    grid-template-rows: repeat(auto-fill, 260.4px);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: space-between;
}

.site-card {
    height: 260.4px;
    width: 286px;
    border-radius: 12px;
    background-color: #030a0e; /* Updated */
    border: 1px solid #660708; /* Updated */
    box-sizing: border-box;
    font-family: 'VCR';
    position: relative;
    overflow: hidden;
}

.site-card:hover{
    transform: scale(1.05);
}

.site-content {
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}

.site-logo {
    height: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.site-image {
    height: auto;
    max-height: 40px;
    width: auto;
    max-width: 150px;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.site-name {
    height: 23px;
    width: 100%;
    text-align: center;
    line-height: 3 px;
    font-size: 16.5px;
    text-align: left;
    color: #D3D3D3; /* Updated */
    font-family: 'Pixel Font';

}

.site-offer {
    height: 23px;
    width: 100%;
    line-height: 18px;
    font-size: 14px;
    color: #D3D3D3; /* Updated */
    text-align: left;
}

.site-code-container {
    height: 65px;
    width: 100%;
    background-color: #0a202a; /* Updated */
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.use-code {
    height: 17px;
    width: 100%;
    line-height: 15px;
    font-size: 13px;
    color: #B1A7A6; /* Updated */
    text-align: center;
}

.code {
    height: 23px;
    width: 100%;
    text-align: center;
    color: #236c8c; /* Updated */
    line-height: 24px;
    font-weight: 600;
    font-size: 19px;
    /* text-transform: uppercase; */
    overflow: visible !important;
}

.site-card:hover .visit-button-container {
    display: flex;
}

.visit-button-container {
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    padding: 20px;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1.5px);
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 60px;
    box-sizing: border-box;
    animation: ytmlh1BMrtOkyQbEQpmWw 0.3s linear;
}

@keyframes ytmlh1BMrtOkyQbEQpmWw {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.visit-button {
    height: 118px;
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.visit-site-2 {
    background: #E5383B; /* Updated */
    border-radius: 6px;
    color: #161A1D; /* Updated */
}

.visit-site-1 {
    height: 44px;
    width: 190px;
    border-radius: 6px;
    font-family: 'Roboto';
    color: #FFFFFF; /* Updated */
    line-height: 44px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    background: #A4161A; /* Updated */
    font-family: 'Pixel Font';
    text-decoration: none;
}

.visit-site-1:hover{
    color: blueviolet;
    text-decoration: none;
}





/* RESPONSIVE DESIGN */
@media screen and (max-width: 558px) {
    .site-list {
        justify-content: space-around;
    }
}

@media screen and (max-width: 750px) {
    .site-card {
        width: 100%;
    }
    .site-list {
        grid-template-columns: repeat(auto-fill, 100%);
    }
    .main-container{
        padding-left: 50px;
        padding-right: 50px;
    }
    
}

@media screen and (max-width: 450px) {
    .site-list {
        grid-template-columns: repeat(auto-fill, 100%);
    }
    .main-container{
        padding-left: 50px;
        padding-right: 50px;
    }
}









