@font-face {
    font-family: 'Agency';
    src: url(Fonts/agencyfb_bold.ttf);
}

@font-face {
    font-family: 'VCR';
    src: url(Fonts/VCR_OSD_MONO_1.001.ttf);
}

@font-face {
    font-family: 'Pixel Font';
    src: url(Fonts/PixelDigivolve-mOm9.ttf);
}

@font-face {
    font-family: 'Pixeloid';
    src: url(Fonts/PixeloidSans-mLxMm.ttf);
}

@font-face {
    font-family: 'Pixeloid Bold';
    src: url(Fonts/PixeloidSansBold-PKnYd.ttf);
}