footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    animation: fadeInUp 1s ease-out;
    display:fixed;
    font-family: 'Pixeloid';
}


.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.footer-section {
    flex: 1;
    padding: 10px;
    padding-top: 0%;
    min-width: 200px;
}

.footer-bottom {
    margin-bottom: 0;
    padding-left: 0px;
    padding-right: 0;
    padding-top: 2px ;
    height: 35px;
    font-weight: bold;
    font-size: 10;
    font-family: 'Agency';
}

.footer-bottom p a{
    color:#02e901;
    text-decoration: none;
    font-family: 'Agency';
    font-size: large;
    font-weight: bolder;
}

.footer-bottom p a:hover{
    color:#119011;
    text-decoration: underline;
}


.footer-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer-section ul li a:hover {
    color: #0000ff;
}

.footer-section .social-buttons a {
    margin: 0;
    text-decoration: none;
    font-weight: bold;
}

.footer-section .social-buttons ul li{
    display: flex;
    flex-direction: row;
}























.social-login-icons {
    display: flex;
    align-items: center;
  }
  .social-login-icons svg {
    width: 40px;
  }
  
  .social-icon-1,
  .social-icon-2,
  .social-icon-3,
  .social-icon-4 {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* .social-icon-1 i{
      color: rgba(175, 7, 7, 0.899);
      font-size:50px;
  
  } */
  /* .social-icon-2 i{
      color: skyblue;
      font-size:50px;
  
  } */
  /* .social-icon-3 i{
      color: rgb(58 58 227 / 87%);
      font-size:50px;
  
  } */
  /* .social-login-icons{
      margin: 30px 0px;
  } */
  
  .socialcontainer {
    height: 50px;
    overflow: hidden;
  }
  .social-icon-1 {
    transition-duration: 0.4s;
    background-color: rgb(16, 16, 16);
  }
  .socialcontainer:hover .social-icon-1 {
    transform: translateY(-50px);
  }
  .social-icon-2 {
    transition-duration: 0.4s;
    background: linear-gradient(
      72.44deg,
      #ff7a00 11.92%,
      #ff0169 51.56%,
      #d300c5 85.69%
    );
  }
  .socialcontainer:hover .social-icon-2 {
    transform: translateY(-50px);
  }
 