*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

header {
    background: #3D0814;
    color: #ffffff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
    position: relative;
    display: inline-block;
}

header nav ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
}

header nav ul li a:hover{
    color: black;
}

.website-logo a img{
    height: 75px;
    width: 75px;
}









.navbar{
    background-color: #000000;
    font-family: 'Agency';
    border-bottom: #585858 3px solid;
}
.navbar-text,
.navbar-brand,
.nav-link,.offcanvas-header,.offcanvas-title {
    color: black;
    
}

.offcanvas-header, .offcanvas-title{
    background-color: rgb(39, 38, 38);
    color: #fff;
}

.offcanvas-header{
    border-bottom: 1.5px rgb(255, 255, 255) solid;
}


@media screen and (max-width:500px) {
    .offcanvas{
        opacity: 0.75;
    }
     
}





.container-fluid{
    color:rgb(0, 183, 255);
  }

.offcanvas-body{
    background-color: rgb(59, 58, 58);
}


.nav-link{
    text-decoration: none;
}



#devby{
  margin-top: 48% ;
    opacity: .75;
    color: #928e8e;
}
#devby a{
    text-decoration: none;
     color: #02e901;
 }
 #devby a:hover{
    text-decoration: underline;
     color: #02e901;
 }

 #btn-close{
    background-color: #fff;
    opacity: 100%;
 }


@media screen and (max-width: 520px){
    #devby{
        margin-top: 35% ;  
    }
}

#navbar-title{
    font-size: 30px;
}

@media screen and (max-width: 520px){
    #navbar-title{
        font-size: 23px;

    }
    .website-logo a img{
        height: 57px;
        width: 57px;
    }
    #navbar-title-faq{
    font-size: 18px;
}
}
@media screen and (max-width: 323px){
    #navbar-title-faq{
    font-size: 15px;
     }
     .website-logo a img{
        height: 47px;
        width: 47px;
    }
}
#toggler{
    color: #02e901;
}
.navbar-toggler-icon{
    color: #02e901;
}