:root {
    --chocolate-cosmos: #370617ff;
    --engineering-orange: #d00000ff;
    --orange-web: #faa307ff;
    --penn-red: #9d0208ff;
    --persimmon: #e85d04ff;
    --princeton-orange: #f48c06ff;
    --rich-black: #03071eff;
    --rosewood: #6a040fff;
    --selective-yellow: #ffba08ff;
    --sinopia: #dc2f02ff;
}
