:root {
    --chocolate-cosmos: #370617ff;
    --engineering-orange: #d00000ff;
    --orange-web: #faa307ff;
    --penn-red: #9d0208ff;
    --persimmon: #e85d04ff;
    --princeton-orange: #f48c06ff;
    --rich-black: #03071eff;
    --rosewood: #6a040fff;
    --selective-yellow: #ffba08ff;
    --sinopia: #dc2f02ff;
}


/* FONTS*/
@font-face {
    font-family: 'Agency';
    src: url(Fonts/agencyfb_bold.ttf);
}

@font-face {
    font-family: 'VCR';
    src: url(Fonts/VCR_OSD_MONO_1.001.ttf);
}

@font-face {
    font-family: 'Pixel Font';
    src: url(Fonts/PixelDigivolve-mOm9.ttf);
}

@font-face {
    font-family: 'Pixeloid';
    src: url(Fonts/PixeloidSans-mLxMm.ttf);
}

@font-face {
    font-family: 'Pixeloid Bold';
    src: url(Fonts/PixeloidSansBold-PKnYd.ttf);
}
@font-face {
    font-family: 'Retro Gaming';
    src: url(Fonts/Retro\ Gaming.ttf);
}
