.Sell-skins-section {
    background-color: var(--chocolate-cosmos); /* #370617ff */
    border-bottom: var(--rich-black) 4px solid; /* #03071eff */
    border-top: var(--rich-black) 4px solid; /* #03071eff */
    padding-bottom: 150px;
    padding-top: 50px;
}
