@font-face {
    font-family: 'VCR';
    src: url(Fonts/VCR_OSD_MONO_1.001.ttf);
}
@font-face {
    font-family: 'Pixel Font';
    src: url(Fonts/PixelDigivolve-mOm9.ttf);
}


html, main, header{
    font-family: 'Pixel Font';
  
    
}

html{
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;  
    
}

.wrapper {
    padding-bottom: 150px; /* Height of the footer */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E7F9A9;
    color: #442F38;
    transition: background-color 0.3s ease;
    min-height: 100%;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}


.hero {
    background: url('hero-bg.jpg') no-repeat center center/cover;
    color: #e29292;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px; /* To offset the fixed header */
    position: relative;
    background-color: yellow;
    
}

.hero h1 {
    font-size: 50px;
    animation: fadeInDown 1s ease-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero p {
    margin-top: 20px;
    animation: fadeInUp 1s ease-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.csgo-sites {
    padding-top: 40px;
    background-color: #ffffff;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
    
}

.csgo-sites h2 {
    text-align: center;
    padding-bottom: 5px;
    color: #3D0814;
    animation: slideInRight 1s ease-out;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.site-ranks {
    width: 100%;
    border-collapse: collapse;
    padding-top: 20px;
}

.site-ranks th, .site-ranks td {
    padding: 10px;
    text-align: center;
    border: 1.5px solid #442F38;
}

.site-ranks th {
    background-color: #C6B38E;
    color: #fff;
}

.site-ranks td {
    background-color: #9A9B73;
    color: #442F38;
}
.site-ranks td a{
    text-decoration: none;
    color: blueviolet;
}



.site-ranks td a:hover{
    text-decoration: underline;
}




.footer-content{
    margin-top: 0;
    padding: 0;
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.socials {
    display: flex;
    align-items: center;
}

.social-icon {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 5px;
    transition: opacity 0.3s ease;
}

.social-icon:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: flex-start;
    }

    header .logo {
        margin-bottom: 10px;
    }

    header nav ul {
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .top-picks-grid {
        grid-template-columns: 1fr;
    }

    .feature-list {
        flex-direction: column;
        align-items: center;
    }

    .feature {
        flex: 1 1 calc(40% - 20px);
    }
}



/*  
footer {
    background-color: #3D0814;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    margin-top: 20px;
    animation: fadeInUp 1s ease-out;
}


*/





footer {
    background-color: #3D0814;
    color: #fff;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    animation: fadeInUp 1s ease-out;

    display:fixed;
  

}



.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.footer-section {
    flex: 1;
    padding: 10px;
    padding-top: 0%;
    min-width: 200px;
}

.footer-bottom {
    background-color: #2b050e;
    margin-bottom: 0;
    padding-left: 0px;
    padding-right: 0;
    padding-top: 2px ;
    height: 35px;
    font-weight: bold;
    font-size: 10;
    font-family: 'Agency';
    opacity: 0.75;
}



@font-face {
    font-family: 'Agency';
    src: url(Fonts/agencyfb_bold.ttf);
}


.footer-bottom p{
    opacity: 0.85;
}
.footer-bottom p a{
    color:#02e901;
    text-decoration: none;
    font-family: 'Agency';
    font-size: large;
    opacity: 0.75;

}

.footer-bottom p a:hover{
    color:#94f794;
    text-decoration: underline;
}




.footer-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.footer-section ul li a:hover {
    color: #0000ff;
}




.footer-section .social-buttons a {
    margin: 0;
    text-decoration: none;
    font-weight: bold;
}


.footer-section .social-buttons ul li{
    display: flex;
    flex-direction: row;
}

